<div id="help_tab_div" class="row-fluid " style="display: none;">
			<dl>
				<dt>How do I request a song?</dt>
				<dd>Click the <strong>Search</strong> tab, type the title or artist in the box, click <strong>Search</strong>, then select the track.</dd>
				<dt>I requested a track but it hasn't played yet?</dt>
				<dd>The DJ may not have the track you have requested.</dd>
				<dt>I'm a DJ, how do I sign up for <strong>ReQuest</strong>?</dt>
				<dd>You can email us (email address).</dd>
				<dt>This is cool, how can I tell more people about it?</dt>
				<dd>Click the <span class="icon-share"></span> link and you can share with any popular social network.</dd>
			</dl>
		</div>