{% extends "index.jinja2" %}
{% block content %}
<div id="queue_tab_div" class="row-fluid">
	<div>
		<form method="POST">
			<input class="" id="search_input" type="text" name="search_text" placeholder="search for a song or artist...">
	 		<!-- <button class="btn" type="submit">Search</button> -->
	 		<a href='/results' class="btn" type="button submit">Search</a>
 		</form>
	</div>
	<table id="queue_table" class="table well">
		<thead>
			<td></td>
			<td>Track</td>
			<td>Total</td>
			<td>Vote</td>
			<td></td>
		</thead>
		{% for song in songs %}
		<tbody>
			<td></td>
			<td>{{ song.title }}</td>
			<td>{{ song.artist }}</td>
			<td><button href="#"><span class="icon-thumbs-up"></span></button><button href="#"><span class="icon-thumbs-down"></span></button></td>
		</tbody>
		{% endfor %}
		<tbody>

		</tbody>
	</table>
	<!-- <div class="pagination pagination-centered pagination-medium">
		<ul>
			<li class="active"><a href="#"><span class="icon-arrow-left"></span></a></li>
			<li><a href="#"><span class="icon-arrow-right"></span></a></li>
		</ul>
	</div> -->
</div>
{% endblock %}