<div id="share_tab_div" class="row-fluid " style="display: none;">
	<div class="row-fluid ">
		<h3>ReQuest Social<small><span> </span>Share</small></h3>
	</div>
	<section class="row-fluid ">
		<ul class="nav nav-tabs nav-stacked" style="text-align:center">
			<li><a href="sms:?body=Check%20out%20ReQuest%20http://theawkwardduck.com/">SMS Message</a></li>
			<li><a href="">Email</a></li>
			<li><a href="">Facebook</a></li>
			<li><a href="">Twitter</a></li>
			<li><a href="">Google+</a></li>
			<li><a href="">Pintrest</a></li>
		</ul>
		<ul class="nav nav-tabs nav-stacked" style="text-align:center">
			<li><a href="">Contact Us</a></li>
		</ul>
	</section>
</div>